asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.4
Django==4.1.4
django-auditlog==2.2.1
django-filter==22.1
django-rest-knox==4.2.0
djangorestframework==3.14.0
Markdown==3.4.1
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
sqlparse==0.4.3
