name: remote ssh command
on:
  push:
    branches:
      - main
jobs:
  build:
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd /home/devbaraus/ceitec/django &&
          git pull &&
          docker compose build &&
          docker compose down &&
          docker compose up -d